.wrapSelect {
    margin: 16px auto;
    display: flex;
    align-items: center;
    width: 80%;

    .txt {
        width: 100%;

    }
}

.wrapInfoExamAdmin {
    .infoItem {
        display: flex;
        margin: 8px auto;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
        align-items: center;

        &__content {
            max-height: 400px;
            width: 80%;

            .tagsItem {
                margin-right: 10px;
                padding: 5px 8px;
                background-color: #d5d5d5;
            }
        }
    }
}

.wrapQuestionList {
    width: 80%;
    margin: 0 auto;
    padding: 16px;

    .wrapQuestion__item {
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .question,
    .option,
    .explain {
        display: flex;
        // align-items: center;

        p {
            margin-left: 5px;
        }
    }
}

//