.wrapCreateExam {
    width: 90%;
    margin: 0 auto;

    .ant-steps-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ant-steps-item-container {
        display: flex;
    }

    .wrapButtonStyleCreate {
        margin-top: 8px;
    }

    .wrapSteps {
        margin-top: 24px;

        // .ant-steps-item-icon {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;

        // }

    }

    .wrapStepContent {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        // min-height: 80vh;
        overflow: hidden;

        .wrapStepInfo.active,
        .wrapStepQuestion.active,
        .wrapStepView.active {
            display: block;
            animation: wrapActive 1s ease-in-out;
        }

        .wrapStepInfo.hident,
        .wrapStepQuestion.hident,
        .wrapStepView.hident {
            display: block;
            transform: translateX(200vw);
            animation: wrapHident 1s ease-in-out;
        }

        .wrapStepInfo,
        .wrapStepQuestion,
        .wrapStepView {
            width: 100%;
            display: none;
            position: absolute;
            // animation: wrapHident 1s ease-in-out;
        }

        .wrapStepInfo {
            background: #FFFFFF;
            border-radius: 4px;
            padding: 16px;

            h2 {
                text-align: center;
                margin: 16px 0;
            }

            .wrapFormInfo {

                padding: 16px;
                margin: 0 auto;
                border: 1px solid #f0f0f0;
                background: #FFFFFF;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
                border-radius: 4px;


                .formItem-input {
                    display: flex;
                    flex-direction: column;

                    .input-item {
                        padding: 5px 12px;
                        margin: 8px 0;
                        flex: 1;
                        outline: none;
                        background-color: #fff;

                        &.select {
                            padding: 0;

                            .ant-select-selection-item-remove {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }

                .wrapUploadFile {
                    margin: 8px 0;
                }

                .wrapButtonSubmit {
                    // flex: 1;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .btn-submit {
                        padding: 8px 16px;
                        border: 1px solid #27ae61;
                        background-color: #27ae61;
                        border: 5px;
                        color: #fff;
                        width: 200px;
                        margin: 0 auto;
                        margin-left: auto;
                        margin-right: auto;

                        &:hover {
                            background-color: #0aaa4d;
                        }

                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }

            }

        }

        .wrapStepQuestion {

            .wrapContentQuestion {
                padding: 0 16px;
                margin-top: 16px;
                border-left: 1px solid #f0f0f0;

                .wrapCreateQuestionItem {

                    .formItem-input {
                        margin: 16px 0;

                        &:first-child {
                            margin-top: 0;
                        }

                        .editor {

                            .ql-editor.ql-blank {
                                min-height: 200px;
                            }
                        }
                    }

                    .wrapButtonSubmit {
                        display: flex;
                        justify-content: center;

                        .btn-submit {
                            padding: 8px 16px;
                            border-radius: 5px;
                            border: 1px solid #035fc1;
                            background-color: #035fc1;
                            color: #fff;
                            margin: 0 auto;
                            transition: all 0.2s ease-in-out;

                            &:active {
                                transform: scale(0.95);
                            }
                        }

                        &.fixed {
                            position: fixed;
                            top: 50%;
                            right: 20px;
                        }
                    }
                }
            }

        }

        .wrapStepView {
            .wrapStepReview {
                position: relative;
                height: 100%;

                .containerInfoExam {
                    padding: 16px 20px;
                    padding-right: 24px;
                    border: 1px solid #aaaaaa;
                    border-radius: 4px;
                    // height: 100%;
                    position: -webkit-sticky;
                    position: sticky;
                    // right: 0;
                    overflow-x: hidden;
                    top: 75px;
                    overflow-y: auto;
                    max-height: calc(100vh - 200px);
                }

                .containerQuestionList {
                    padding: 16px 24px;
                    border-left: 1px solid #f0f0f0;
                }

                .wrapButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 16px;



                    .buttonCreateExam {
                        // border: 1px solid #fff;
                        // color: #fff;
                        // padding: 8px 16px;
                        // border-radius: 4px;
                        // background-color: #035fc1;

                        z-index: 1;
                        position: relative;
                        font-size: inherit;
                        font-family: inherit;
                        color: white;
                        padding: 0.5em 1em;
                        outline: none;
                        border: none;
                        background-color: #035fc1;
                        border-radius: 5px;

                        &:hover {
                            cursor: pointer;
                        }

                        &:active {
                            transform: scale(0.95);
                        }

                        &::before {
                            content: '';
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            border: 4px solid #035fc1;
                            transform-origin: center;
                            transform: scale(1);
                            border-radius: 5px;
                        }

                        &:hover::before {
                            transition: all 0.75s ease-in-out;
                            transform-origin: center;
                            transform: scale(1.75);
                            opacity: 0;
                        }

                    }
                }

                .wrapReviewQuestionList {

                    .wrapQuestionList {
                        margin-left: 0;
                        width: 100%;

                        p.option,
                        h3 {
                            display: flex;
                            // align-items: center;
                        }

                        .contentText,
                        .question {
                            margin-left: 5px;
                            display: flex;
                            align-items: center;
                            line-height: 20px;
                        }
                    }
                }

            }
        }

        @keyframes wrapActive {
            from {
                transform: translateX(-100vw);
            }

            to {
                transform: translateX(0);
            }
        }

        @keyframes wrapHident {
            from {
                display: block;
                transform: translateX(0%);
            }

            to {
                // display: none;
                transform: translateX(200vw);
            }
        }
    }


}